body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'IrisUPC';
  src: url('upcil.ttf');
}

.banner-container {
  background-color: rgb(0,89,83);
  position: absolute;
  left: 40px;
  width:168px;
  height: 100%;
}

.banner-container img {
  position: absolute;
  bottom: 20px;
}

.banner-container .logo {
  color: white;
  font-family:'IrisUPC', sans-serif;
  font-size: 62px;
  width: calc(100vh - 325px);
  transform: rotate(-90deg) translateX(-100vh) translateX(340px) translateY(125px);
  transform-origin: left top 0;
}

.top-divider {
  background-color: rgb(0,89,83);
  position: absolute;
  left: 40px;
  top: 0;
  width:calc(100vw - 40px);
  height:5px;
}

.year-selection {
  margin-left: 207px !important;
  margin-top: 5px !important;
  width: 228px !important;
  height: calc(100vh - 5px) !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.main-content {
  position: absolute;
  left: 434px;
  top: 5px;
  height: calc(100vh - 5px);
  right: 0;
}