.year-selection {
  margin-left: 167px !important;
  margin-top: 5px !important;
  width: 238px !important;
  height: calc(100vh - 5px) !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.year-selection .ui.attached.menu.archive-inline-menu {
  box-shadow: none;
  min-height: 0;
  max-width: initial;
  width: 238px;
}

.ui.vertical.menu .item.archive-entry p {
  margin-bottom: 0;
  white-space: nowrap;
}