.main-content {
  position: absolute;
  left: 404px;
  top: 5px;
  height: calc(100vh - 5px);
  right: 0;
  padding-top: 2em;
  overflow: auto;
}

.main-content object {
  width: 100%;
  height: 100%;
  position: absolute;
}

.main-content .error-hint {
  padding-top: 8em;
}

.welcome {
  padding-top: 8em;
}

.welcome .huge.icon {
  color: rgb(0,89,83);
}

.welcome .card {
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 0 0 rgb(0,89,83), 0 1px 3px 0 #d4d4d5;
  width: 100%;
}

.welcome a.ui.card:hover {
  box-shadow: 0 1px 3px 0 #bcbdbd, 0 2px 0 0 rgb(0,89,83), 0 0 0 1px #d4d4d5;
}