.banner-container {
  background-color: rgb(0,89,83);
  position: absolute;
  left: 40px;
  width:168px;
  height: 100%;
}

.banner-container img {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

.banner-container .logo {
  color: white;
  font-family:'IrisUPC', sans-serif;
  font-size: 62px;
  width: calc(100vh - 325px);
  min-width: 360px;
  transform: rotate(-90deg) translateX(-100vh) translateX(340px) translateY(125px);
  transform-origin: left top 0;
}

.top-divider {
  background-color: rgb(0,89,83);
  position: absolute;
  left: 40px;
  top: 0;
  width:calc(100vw - 40px);
  height:5px;
}

.archive-mobile {
  display: none;
}

@media (max-width: 750px) {
  body {
    overflow: auto;
  }

  .archive-desktop {
    display: none;
  }

  .archive-mobile {
    display: block;
  }

  .archive-mobile > div > div {
    margin-bottom: 2em;
  }
}