.banner-container {
  background-color: rgb(0,89,83);
  position: absolute;
  width:168px;
  height: 100%;
}

.banner-container img {
  position: absolute;
  bottom: 20px;
  cursor: pointer;
}

.banner-container .logo {
  color: white;
  font-family:'IrisUPC', sans-serif;
  font-size: 62px;
  width: calc(100vh - 325px);
  min-width: 360px;
  transform: rotate(-90deg) translateX(-100vh) translateX(340px) translateY(125px);
  transform-origin: left top 0;
}

.top-divider {
  background-color: rgb(0,89,83);
  position: absolute;
  left: 0;
  top: 0;
  width:100vw;
  height:5px;
}

@media (max-height: 700px) {
  .banner-container .logo {
    font-family:'IrisUPC', sans-serif;
    font-size: 62px;
    width: 0;
    min-width: 0;
    transform: rotate(-90deg) translateX(-100vh) translateX(340px) translateY(75px);
    line-height: 40px;
    transform-origin: left top 0;
  }
}

@media (max-height: 550px) {
  .banner-container .logo {
    display: none;
  }
}